<div class="container-app py-5">
<div class="sessions-page">

  <%= link_to folders_path, class: "folder-show__back text-caption" do %>
    <i class="fa-solid fa-chevron-left"></i> All folders
  <% end %>

  <div class="session-show-header mb-2" style="margin-top: 16px;">
    <div class="session-show-title-row mb-1">
      <%= turbo_frame_tag dom_id(@folder, :name) do %>
        <%= link_to edit_folder_path(@folder),
                    data: { turbo_frame: dom_id(@folder, :name) },
                    class: "folder-show__editable-name" do %>
          <h1 class="mb-0"><%= @folder.name %></h1>
        <% end %>
      <% end %>

      <div class="session-show-actions">
        <%= link_to edit_folder_path(@folder),
                    data: { turbo_frame: dom_id(@folder, :name) },
                    class: "session-row__action-btn",
                    aria_label: "Rename" do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </div>
    </div>
    <p class="text-caption fst-italic mb-0"><%= pluralize(@sessions.size, "session") %></p>
  </div>

  <%# Inline-editable description -%>
  <%= turbo_frame_tag dom_id(@folder, :description), class: "folder-show__desc-frame" do %>
    <%= link_to edit_folder_path(@folder),
                data: { turbo_frame: dom_id(@folder, :description) },
                class: "folder-show__editable-desc" do %>
      <% if @folder.description.present? %>
        <p class="mb-0"><span class="folder-show__desc-label">Description:</span> <%= @folder.description %></p>
      <% else %>
        <p class="folder-show__desc-placeholder mb-0">Add a description&hellip;</p>
      <% end %>
    <% end %>
  <% end %>

  <% if @sessions.empty? %>
    <div class="sessions-empty">
      <div class="sessions-empty__icon">
        <i class="fa-solid fa-folder-open"></i>
      </div>
      <h4>No sessions in this folder</h4>
      <p class="text-caption">Add sessions from the Sessions page or sidebar.</p>
      <%= link_to "Go to Sessions", recording_sessions_path, class: "btn btn-primary btn-sm mt-3" %>
    </div>

  <% else %>
    <div class="sessions-list">
      <%= render partial: "recording_sessions/session_row", collection: @sessions, as: :session %>
    </div>
  <% end %>

</div>
</div>
